body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* display: flex; 
    justify-content: center;
    align-items: center; */
}

h1 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
}

.about {
    visibility: hidden;
}

.automato01 {
    background-color: red;
    margin: 50rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#rectangle {
    background-color: blue;
    width: 300rem; 
    height: 50%;
    
    display: flex; 
    flex-wrap: wrap;
    max-width: 30rem; 
    /* Defina o tamanho máximo aqui */ 
    background-color: lightgray; 
    justify-content: center;
    padding: 2px; 
    gap: 2px;
}

.SubDiv {
    background-color: red;
    width: 30px;
    height: 30px;
    margin: 0.00001rem;
}

.true {
    background-color: blue;
}

.false {
    background-color: red;
}

button {
    margin-top: 1rem;
    width: 16rem; 
    height: 4rem;
    border-radius: 2rem;
    justify-content: center;
    background: #1c329f;
    color: #f0f0f0;
    text-transform: uppercase;
    border: none;
}

.clean {
    width: 8rem;
}